<!-- Daan Borghs r0986005 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="img/style.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Client Details | DaanStore</title>
</head>
<body>
<header>
    <div class="websiteName">
        <h1>DaanStore</h1>
    </div>
    <div class="title">
        <h1>Client Details</h1>
    </div>
</header>
<article class="clientDetails">
    <p class="mb-1" th:text="'Welcome ' + ${clientDetails}"></p>
    <p th:text="'Your contact person will be ' + ${contactPerson.firstName} + ' ' + ${contactPerson.surName}"></p>
</article>
<footer class="mb-35">
    <p>Developed by Daan Borghs</p>
    <a href="/">Back to home page</a>
</footer>
</body>
</html>